@model Upravljanje_Flotom.Models.Vozilo
@using Upravljanje_Flotom.Models;

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tip = ViewBag.tip as List<TipVozila>;
    var marka = ViewBag.marka as List<MarkaVozila>;
    var godine = ViewBag.godine as List<int>;
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Vozilo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TipVozilaID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TipVozilaID, selectList: new SelectList(items: tip, dataTextField:"Naziv", dataValueField:"IDTipVozila"), htmlAttributes:new {@class="form-control" })
                @*@Html.EditorFor(, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.TipVozilaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MarkaVozilaID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MarkaVozilaID, selectList: new SelectList(items: marka, dataTextField: "Naziv", dataValueField: "IDMarkaVozila"), htmlAttributes: new { @class = "form-control" })
                @*@Html.EditorFor(model => model.MarkaVozilaID, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.MarkaVozilaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GodinaProizvodnje, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.GodinaProizvodnje, selectList: new SelectList(items: godine), htmlAttributes: new { @class = "form-control" })
                @*@Html.EditorFor(model => model.GodinaProizvodnje, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.GodinaProizvodnje, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InicijalnoStanjeKilometara, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InicijalnoStanjeKilometara, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InicijalnoStanjeKilometara, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "AllAuti")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
